# {{ ansible_managed }}

createUser {{ snmp_user }} SHA {{ snmp_password }} AES {{ snmp_encryption }}

rouser {{ snmp_user }} priv
{% if ansible_default_ipv4.address is defined %}
agentAddress  {{ snmp_agentadress_protocol.ipv4 }}:{{ snmp_agentadress_adress.ipv4 }}:{{ snmp_agentadress_port.ipv4 }}
{% endif %}
{% if ansible_default_ipv6.address is defined %}
agentAddress {{ snmp_agentadress_protocol.ipv6 }}:{{ snmp_agentadress_adress.ipv6 }}:{{ snmp_agentadress_port.ipv6 }}
{% endif %}

{% if snmp_location is defined %}
sysLocation {{ snmp_location }}
{% endif %}
sysName {{ ansible_fqdn }}
{% if snmp_contact is defined %}
sysContact {{ snmp_contact }}
{% endif %}

{% for item in snmp_extension_list %}
extend {{ item.extend }}
{% endfor %}
{% if "pve" in ansible_kernel %}
extend proxmox /usr/bin/sudo {{ snmp_extension_scripts }}/proxmox
{% endif %}

{% if "Cumulus Linux" in ansible_distribution %}
agentxperms 777 777 snmp snmp
agentxsocket /var/agentx/master
createUser _snmptrapusernameX
iquerySecName _snmptrapusernameX
master agentx
monitor -r 60 -o laNames -o laErrMessage "laTable" laErrorFlag != 0
pass -p 10 1.3.6.1.2.1.1.1 /usr/share/snmp/sysDescr_pass.py
pass_persist 1.2.840.10006.300.43 /usr/share/snmp/ieee8023_lag_pp.py
pass_persist 1.3.6.1.2.1.17 /usr/share/snmp/bridge_pp.py
pass_persist 1.3.6.1.2.1.31.1.1.1.18 /usr/share/snmp/snmpifAlias_pp.py
pass_persist 1.3.6.1.2.1.47 /usr/share/snmp/entity_pp.py
pass_persist 1.3.6.1.2.1.99 /usr/share/snmp/entity_sensor_pp.py
pass_persist 1.3.6.1.4.1.40310.1 /usr/share/snmp/resq_pp.py
pass_persist 1.3.6.1.4.1.40310.2 /usr/share/snmp/cl_drop_cntrs_pp.py
rouser _snmptrapusernameX
sysObjectID 1.3.6.1.4.1.40310
sysServices 72
{% endif %}
